.mercadoria {
    background-image: url("IMG/Roma-Antiga.webp");
    background-size: 100% 100% ; 
    
}
  
.mercadoria {
    color: white;
    padding: 3vw 2vw 7vw 2vw;
   
}

.mercadoria h2 {
    font-size: 3vw;
   
}

.mercadoria span {
    color: #D69D2A;
    font-size: 5vw;
    display: flex;
    padding: 0 0 3vw 0;
}

.mercadoria a {
    background-color: #5E0C0C;
    padding: 1vw 1vw 1vw 1vw;
    border: #D69D2A 1px solid;
}

.cards {
    background-color: black;
    padding: 3vw;
}

.cards ul {
    display: flex;
}

.cards li {
    background-color: #5E0C0C;
    margin: 2vw;
    border-radius: 6px;
    padding:2vw;
}

.cards h2{
    color: #D69D2A;
    font-size: 2.5vw;
}

.cards p {
    color: white;
    font-size: 1.5vw;
    margin: 0 0 1vw 0;
}



.cards summary {
    background-color: #D69D2A;
    color:white;
    display: inline;
    padding: 5px 5px 5px 5px;
    border:  1px black solid;
    
}