html {
  font-size: 16px;
}

body {
  background-color: rgb(255, 252, 247);
}

.banner h1 {
  padding: 70px 15px 70px 15px;
  font-size: 20px;
  color: white;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://storage.caosplanejado.com/uploads/2019/04/coliseu-1-910x607.png);
  background-position: center;
}

.banner h2 {
  font-size: 23px;
  text-align: center;
  margin-top: 20px;
}

.banner span {
  color: #d69d2a;
}

.banner h3 {
  text-align: center;
  color: #d69d2a;
  margin-bottom: 5px;
}

.banner div {
  margin: 10px 25px 25px 25px;
  padding: 22px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.mercadorias img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.cards div {
  margin: 30px;
  padding: 15px;
  border-radius: 10px;
  background-color: #420906;
  color: white;
  line-height: 17px;
}

.cards h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  color: #d69d2a;
}
