footer {
    padding: 4vw;
}

footer img {
    width: 35%;
}

footer a {
    color: white;
}

footer p.icon {
    text-align: center;
    width: 100%;
    border-top: 1px solid white;
    padding: 2vw 0 0vw 0;
}

footer p.icon img {
    width: 30px;
    padding: 2vw 1vw 2vw 1vw;
}

footer ul {
    border-top: 1px solid rgb(196, 189, 189);
    padding: 3vw 0 3vw 0
}

footer li {
    text-align: left;
    padding: 1.5vw 0 1.5vw 0;
    font-weight: 600;
}

footer h2 {
    color: white;
    font-weight: 500;
}

footer input {
    background-color: white;
    padding: 2vw;
    margin: 1vw 0 1vw 0;
    border-radius: 5px;
}

footer input::placeholder {
    color:#420906 ;
}

footer button {
    background-color: #d69d2a;
    padding: 2vw;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin: 0 0 3vw 0;
    

}

