@import url('reset.css');
@import url('header.css');
@import url('footer.css');

main {
     position: relative;
  min-height: 720px;
  display: flex;
  align-items: center;
  background:
    linear-gradient(
      90deg,
      rgba(20, 5, 3, 0.92) 0%,
      rgba(20, 5, 3, 0.78) 45%,
      rgba(20, 5, 3, 0.35) 100%
    ),
    url("IMG/Roma-Antiga.webp");
  background-size: cover;
  background-position: center;
  padding: 80px 8%;
  box-sizing: border-box;
  overflow: hidden;
}



.formulario h1 {
    font-size: 2rem;
    margin: 3vw 5vw 3vw 5vw;
}

.formulario p {
    margin: 3vw 5vw 3vw 5vw;
}
.formulario .contatos img {
    width: 30px;
    margin-right: 5px;
}

.formulario div.contatos a {
    display: flex;
    align-items: center;
    margin: 1vw 5vw 1vw 5vw;
}


.formulario > .container  {
    color: white;
    padding: 2vw;
    background-color: #120B0A;
    border-radius: 8px;
    border: 2px solid #D99020;
}



.formulario li {
    margin: 3vw 5vw 3vw 5vw;
}

.formulario span {
    color: #D99020;
}


.formulario .forms {
    margin-top: 5vw;
}


.formulario .conteudo {
    background-color: #1C100D;
    border: 1px solid #D99020;
    border-radius: 5px;
    padding: 1vw;
    margin-top: 0.5vw;
    display: flex;
    align-items: center;
    gap: 10px;
}

.formulario button {
    background-color: #D99020;
    padding: 0.5vw 0.7vw 0.5vw 0.7vw;
    border-radius: 5px;
    margin-right: 1vw;
    transition: 0.2s ease;
}

.formulario button:hover{
    background-color: #A86612;
    margin-right: 1.5vw;
    font-size: 1.2rem;
    padding: 0.7vw;
    transition: 0.2s;
}

.formulario ::placeholder{
    color: #9B9187;
}

@media (min-width: 750px){
    .formulario  div.container {
        display: flex;
        
        padding: 0vw;
    }

    .formulario div.forms {
        border-left: 1px solid #D99020;
        margin-top: 0vw;
    }
}

