@import url('reset.css');
@import url('header.css');
@import url('footer.css');

body {
    background-color: #ffffff;
    font-family: Georgia, "Times New Roman", serif;
    color: #ffffff;
}


/* Banner */

.banner {
    width: 100%;
    height: 300px;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        url("https://images.unsplash.com/photo-1552832230-c0197dd311b5?auto=format&fit=crop&w=1200&q=80");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;

    padding-left: 80px;
}

.banner h1 {
    font-family: Arial, sans-serif;
    font-size: 38px;
    line-height: 1.1;
}

.banner h1 span {
    color: #d69d2a;
}


/* Sobre */

.sobre {
    background-color: #4b0805;
    padding: 50px 30px;
    text-align: center;
}

.sobre h2 {
    color: #d69d2a;
    font-size: 28px;
    margin-bottom: 20px;
}

.sobre p {
    max-width: 800px;
    margin: auto;

    font-size: 17px;
    line-height: 1.6;
    text-align: left;
}


.integrantes {
    background-color: #000000;
    padding: 50px 30px;
    text-align: center;
}

.integrantes h2 {
    color: #b0885c;
    font-size: 27px;
    margin-bottom: 30px;
}

.equipe {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 170px;
    background-color: white;
    border: 3px solid #d69d2a;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.foto {
    width: 100%;
    height: 140px;
    background-color: #b99161;
}

.card p {
    color: #6c1712;
    padding: 15px 5px;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#informacao {
    width: 80%;
    margin: 30px auto 0;
    padding: 20px;
    background-color: #4b0805;
    border: 2px solid #d69d2a;
    border-radius: 5px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}