@import url('header.css');
@import url('reset.css');
@import url('footer.css');
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");


  

  


.banner {
  padding-bottom: 40px;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('IMG/Roma-Antiga.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 700px; 
    height: auto;
    padding: 3vw;
    box-sizing: border-box; 
}

.banner {
    padding: 3vw;
}

.banner .fala {
  font-size: 1.7rem;
}

.banner h1 {
    font-size: 2.7rem;
    color: white;
    margin-bottom: 2vw;
    font-family: "Ibarra Real Nova", serif;
}

.banner span {
    color: #CF912B;
}

.banner p {
    color: white;
    margin-top: 2vw;
}

.banner h2 {
    color: #CF912B;
    font-size: 1.3rem;
}


.divisor {
  display: flex;
  align-items: center;
}

.losango {
  width: 10px;
  height: 10px;
  background: #CF912B;
  transform: rotate(45deg); 
}

.linha {
  width: 130px;
  height: 2px;
  background: #CF912B;
}

.circulo {
  width: 12px;
  height: 12px;
  background: #CF912B;
  border-radius: 50%; 
}
details{
    width:300px;
    margin-top:30px;
    background-color: #7b1e17;
    border: #CF912B 1px solid;
    display: inline-block;

}

summary{
    background:#7b1e17;
    color:white;
    padding:15px;
    text-align:center;
    cursor:pointer;
    font-weight:bold;
    transition:.3s;
    
}


.banner details {
    width: 300px;
    margin-top: 30px;
    background-color: #7b1e17;
    border: #CF912B 1px solid;
    display: block;
}

/* Adiciona um limite de altura com rolagem ao conteúdo aberto */
.banner details[open] .conteudo {
    padding: 0 2vw 2vw 2vw;
    max-height: 300px; /* Altura máxima para o texto */
    overflow-y: auto;  /* Cria barra de rolagem se o texto for grande */
}



details:hover {
  background: #5d130d;
  transition: .3s;
}

summary {
  background: transparent;
}

details[open] summary{
    margin-bottom:15px;
    border-bottom: none;
}

details[open] .conteudo {
   padding: 0 2vw 2vw 2vw;
}










